---
import Button from "@/components/Button.astro";
import logo from "@/icons/nailogo.svg";
import Arrow from "@/icons/arrow.svg";
import Menuopen from "@/icons/menu-open.svg";
import Menuclose from "@/icons/menu-close.svg";

const currentPath = Astro.url.pathname;

const menuItems = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
  { name: "Services", href: "/services" },
  { name: "Gallery", href: "/gallery" },
  { name: "Contact", href: "/contact" },
];
---

<header
  class="fixed top-0 right-0 left-0 z-50 bg-white lg:bg-transparent lg:px-10 lg:py-6 lg:shadow-none"
  aria-label="Lismynails Navigation Menu">
  <div class="flex items-center justify-between">
    <a
      class="logo inline-flex items-center gap-1 px-6 py-4 lg:rounded-full lg:bg-white lg:shadow-lg"
      href="/">
      <h1 class="text-brand-dark text-3xl font-bold italic">Lismynails</h1>
      <img
        src={logo.src}
        alt="lismynail logo, a polish bottle"
        class="h-8 scale-125"
      />
    </a>
    <nav
      class="hidden items-center rounded-full bg-white px-4 py-3 shadow-lg lg:inline-flex">
      <ul
        class="flex items-center space-x-4 font-medium text-slate-800 uppercase">
        {
          menuItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={`hover:bg-brand-dark focus:bg-brand-dark rounded-full px-3 py-2 transition-all duration-200 hover:text-white ${
                  currentPath === item.href && "bg-brand-dark text-white"
                }`}>
                {item.name}
              </a>
            </li>
          ))
        }
        <li>
          <Button
            size="lg"
            href="https://www.fresha.com/es/book-now/lismynails-vuyfv72v/services?lid=1287814&eid=2979568&pId=1222535"
            target="_blank">
            Book Now
            <Arrow class="h-10 w-auto" />
          </Button>
        </li>
      </ul>
    </nav>
    <button
      class="text-brand-dark px-4 py-2 transition-all duration-200 lg:hidden"
      aria-label="Toggle mobile menu"
      aria-expanded="false"
      id="mobile-menu-button">
      <Menuopen class="h-6 w-6" id="mobile-menu-open" />
      <Menuclose class="hidden h-6 w-6" id="mobile-menu-close" />
    </button>
  </div>
  <div
    id="mobile-menu"
    class="absolute top-full left-0 mt-4 hidden w-full bg-white/95 px-6 py-4 shadow-lg lg:hidden">
    {
      (
        <div class="flex flex-col items-center justify-center space-y-2 text-center font-medium text-slate-800 uppercase">
          {menuItems.map((item) => (
            <a href={item.href} class="w-full text-center">
              {item.name}
            </a>
          ))}
        </div>
      )
    }
  </div>
</header>

<style>
  :global(.header-scrolled) {
    background-color: white;
    transform: translateY(0);
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  :global(.header-scrolled .logo, .header-scrolled #mobile-menu-button) {
    transform: scale(0.9);
  }

  nav logo {
    transition: transform 0.3s ease;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuOpenBtn = document.getElementById("mobile-menu-open");
    const menuCloseBtn = document.getElementById("mobile-menu-close");
    const mobileMenuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    // Toggle mobile menu visibility
    mobileMenuButton?.addEventListener("click", (e) => {
      e.stopPropagation();
      menuOpenBtn?.classList.toggle("hidden");
      menuCloseBtn?.classList.toggle("hidden");
      mobileMenu?.classList.toggle("hidden");

      const expanded = mobileMenu?.classList.contains("hidden")
        ? "false"
        : "true";
      mobileMenuButton.setAttribute("aria-expanded", expanded);
    });

    // Close the mobile menu when clicking outside
    document.addEventListener("click", (e) => {
      const target = e.target as Node;
      const isClickInside =
        (mobileMenuButton?.contains(target) ?? false) ||
        (mobileMenu?.contains(target) ?? false);

      if (!mobileMenu?.classList.contains("hidden") && !isClickInside) {
        mobileMenu?.classList.add("hidden");
        menuOpenBtn?.classList.remove("hidden");
        menuCloseBtn?.classList.add("hidden");
        mobileMenuButton?.setAttribute("aria-expanded", "false");
      }
    });
    // Change header style on scroll, adding box-shadow
    const header = document.querySelector("header");
    const handleScroll = () => {
      if (window.scrollY > 50) {
        header?.classList.add("header-scrolled");
      } else {
        header?.classList.remove("header-scrolled");
      }
    };

    window.addEventListener("scroll", handleScroll);

    const closeMenu = () => {
      if (!mobileMenuButton || !menuOpenBtn || !menuCloseBtn || !mobileMenu)
        return;
      if (mobileMenu?.classList.contains("hidden")) return;
      mobileMenu?.classList.add("hidden");
      menuOpenBtn?.classList.remove("hidden");
      menuCloseBtn?.classList.add("hidden");
      mobileMenuButton?.setAttribute("aria-expanded", "false");
    };
    // Close mobile menu when a link is clicked
    if (mobileMenu) {
      const links = mobileMenu.querySelectorAll("a");
      links.forEach((link) => {
        link.addEventListener("click", closeMenu);
      });
    }
    // Close mobile menu on hash change
    window.addEventListener("hashchange", closeMenu);
  });
</script>
