---
import Button from "@/components/Button.astro";
import logo from "@/icons/nailogo.svg";
import Arrow from "@/icons/arrow.svg";
import Menuopen from "@/icons/menu-open.svg";
import Menuclose from "@/icons/menu-close.svg";

const currentPath = Astro.url.pathname;

const menuItems = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
  { name: "Services", href: "/services" },
  { name: "Gallery", href: "/gallery" },
  { name: "Contact", href: "/contact" },
];
---

<header
  class="fixed top-0 right-0 left-0 z-50 bg-white shadow-md lg:bg-transparent lg:px-10 lg:py-6 lg:shadow-none"
  aria-label="Lismynails Navigation Menu">
  <div class="flex items-center justify-between">
    <a
      class="inline-flex items-center gap-1 px-6 py-4 lg:rounded-full lg:bg-white lg:shadow-lg"
      href="/">
      <h1 class="text-brand-dark text-3xl font-bold italic">Lismynails</h1>
      <img
        src={logo.src}
        alt="lismynail logo, a polish bottle"
        class="h-8 scale-125"
      />
    </a>
    <nav
      class="hidden items-center rounded-full bg-white px-4 py-3 shadow-lg lg:inline-flex">
      <ul
        class="flex items-center space-x-4 font-medium text-slate-800 uppercase">
        {
          menuItems.map((item) => (
            <li>
              <a
                href={item.href}
                class={`hover:bg-brand-dark focus:bg-brand-dark rounded-full px-3 py-2 transition-all duration-200 hover:text-white ${
                  currentPath === item.href && "bg-brand-dark text-white"
                }`}>
                {item.name}
              </a>
            </li>
          ))
        }
        <li>
          <Button
            size="lg"
            href="https://www.fresha.com/es/book-now/lismynails-vuyfv72v/services?lid=1287814&eid=2979568&pId=1222535"
            target="_blank">
            Book Now
            <Arrow class="h-10 w-auto" />
          </Button>
        </li>
      </ul>
    </nav>
    <button
      class="text-brand-dark hover:bg-brand-dark cursor-pointer rounded-full px-4 py-2 transition-all duration-200 hover:text-white lg:hidden"
      aria-label="Toggle mobile menu"
      id="mobile-menu-button">
      <Menuopen class="h-6 w-6" id="mobile-menu-open" />
      <Menuclose class="hidden h-6 w-6" id="mobile-menu-close" />
    </button>
  </div>
  <div
    id="mobile-menu"
    class="let-0 absolute top-16 mt-4 hidden w-full bg-white px-6 py-4 shadow-lg">
    {
      (
        <ul class="flex flex-col items-center justify-center space-y-2 font-medium text-slate-800 uppercase">
          {menuItems.map((item) => (
            <li>
              <a href={item.href} class="px-3 py-2">
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</header>

<script>
  const menuOpenBtn = document.getElementById("mobile-menu-open");
  const menuCloseBtn = document.getElementById("mobile-menu-close");
  const mobileMenuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  mobileMenuButton?.addEventListener("click", () => {
    menuOpenBtn?.classList.toggle("hidden");
    menuCloseBtn?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("hidden");

    // Here you can add code to show the mobile menu
  });
</script>
